---
--- 

@import "{{ site.theme }}";

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centeredtable {
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto;
}

details {
  cursor: pointer;
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: 5px;
}

summary {
  display: list-item;
  font-weight: bold;
}

// Image that grows when hovered
.growimg {
  transition:transform 0.5s ease-in-out;
  transform-origin: top;
}

// Hover properties for growimg
.growimg:hover {
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.5);
}

.main-content blockquote {
  width: 100%;
  color: black;
  background-color: #f5f7f9;
  border-left: 4px solid  seagreen;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem 0rem 1.5rem 0rem;
}

// Used to signify that a certain blockquote is extra information
blockquote.extra {
  border-left: 4px solid  darkgoldenrod;
}

blockquote blockquote {
  padding-right: 0;
}

// Grid
.container {
  display: grid;
  width: 100%;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "nav content";
  transition: width 0.5s ease;
}

.navBox {
  grid-area: nav;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.sideNav {
  width: 30vw;
  height: 100vh;
  overflow: scroll;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding-top: 1%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.closedNav {
  width: 0px;
}

.sideNav .closebtn {
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  padding-right: 100%;
}

// NavBar toggle button 
#openbtn {
  font-size: 20px;
  cursor: pointer;
  position: sticky;
  top: 10px;
  left: 10px;
  padding-right: 1px;
}

// Contents
.contents {
  grid-area: content;
}

.partNav {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  font-size: 20px;
  top: 0px;
}


