---
--- 

@import "{{ site.theme }}";

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centeredtable {
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto;
}

details {
  cursor: pointer;
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: 5px;
}

summary {
  display: list-item;
  font-weight: bold;
}

// Image that grows when hovered
.growimg {
  transition:transform 0.5s ease-in-out;
  transform-origin: top;
}

// Hover properties for growimg
.growimg:hover {
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.5);
}

.main-content blockquote {
  width: 100%;
  color: black;
  background-color: #f5f7f9;
  border-left: 4px solid  seagreen;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem 0rem 1.5rem 0rem;
}

blockquote blockquote {
  padding-right: 0;
}
