---
layout: notes
math: true
---

<!-- Layout for One Page Notes -->
<!-- 
    Works for all modules as long as they 
    - Have part: true
    - Are defined as a collection in _config.yml
    - The folder name is "_[Module Code]"
-->

{%- for p in site[page.mod] -%}
    {%- if p.part == true -%}
        {%- capture title -%}# {{ p.title }}{%- endcapture -%}
        {{ title | markdownify }}       
        {{ p.content }}
        {%- if p.nex != null -%}
            <br/>
            <hr style="
                padding: 5px;
                border-radius: 1em;
                background-color: whitesmoke;
            ">
            <br/>
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}