--- 
layout: notes
--- 

{%- if page.part == false -%}
<a href="../../cs126/index.html">🏡CS126 Home</a>
    {%- for page in site.cs126 -%}
        {%- if page.part == true -%}
            <p>{{ page.content | markdownify }}</p><br>
            {%- if page.nextt != null -%}
                <hr 
                style="
                    border-top: 1px solid gray;
                    border-bottom: 1px solid gray;
                    background-color: gray;
                ">
            {%- endif -%}
            
        {%- endif -%}
    {%- endfor -%}
{%- else -%}
    {{ content }}
{%- endif -%}
